<!-- Features -->
<section class="container py-5 my-2 my-md-4 my-lg-5" style="margin-top: -2rem !important;">
  <h2 class="h1 text-center pt-1 pt-xl-3 mb-lg-4">Why Us?</h2>
  <div
    class="swiper mx-n2 swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden"
    data-swiper-options='{
          "slidesPerView": 1,
          "spaceBetween": 8,
          "pagination": {
            "el": ".swiper-pagination",
            "clickable": true
          },
          "breakpoints": {
            "500": {
              "slidesPerView": 2
            },
            "800": {
              "slidesPerView": 3
            },
            "1200": {
              "slidesPerView": 4
            }
          }
        }'
  >
    <div
      class="swiper-wrapper"
      id="swiper-wrapper-d06446b91a9f4bbe"
      aria-live="polite"
    >
      <!-- Item -->
      <div
        class="swiper-slide h-auto py-3 swiper-slide-active"
        role="group"
        aria-label="1 / 4"
        style="width: 312.5px; margin-right: 8px"
      >
        <div class="card h-100 card-body card-hover mx-2 text-center">
          <i
            class="bx bx-rocket display-5 fw-normal card-icon"
            style="color: #b4b7c9"
          ></i>
          <h3 class="h5 pt-3 pb-1 mb-2">Inspiring Innovation</h3>
          <p class="mb-0">
              We make it easy for your to access funds and understand
              how to make your funds work for you.
          </p>
        </div>
      </div>

      <!-- Item -->
      <div
        class="swiper-slide h-auto py-3 swiper-slide-next"
        role="group"
        aria-label="2 / 4"
        style="width: 312.5px; margin-right: 8px"
      >
        <div class="card h-100 card-body card-hover mx-2 text-center">
          <i
            class="bx bx-like display-5 fw-normal card-icon"
            style="color: #b4b7c9"
          ></i>
          <h3 class="h5 pt-3 pb-1 mb-2">Success Guarantee</h3>
          <p class="mb-0">
            Get the best experience when accessing our
            web applications from any device
          </p>
        </div>
      </div>

      <!-- Item -->
      <div
        class="swiper-slide h-auto py-3"
        role="group"
        aria-label="3 / 4"
        style="width: 312.5px; margin-right: 8px"
      >
        <div class="card h-100 card-body card-hover mx-2 text-center">
          <i
            class="bx bx-time-five display-5 fw-normal card-icon"
            style="color: #b4b7c9"
          ></i>
          <h3 class="h5 pt-3 pb-1 mb-2">On Time Service</h3>
          <p class="mb-0">
            Apply for a loan and get funds transferred to your account 
            in less than five minutes
          </p>
        </div>
      </div>

      <!-- Item -->
      <div
        class="swiper-slide h-auto py-3"
        role="group"
        aria-label="4 / 4"
        style="width: 312.5px; margin-right: 8px"
      >
        <div class="card h-100 card-body card-hover mx-2 text-center">
          <i
            class="bx bx-group display-5 fw-normal card-icon"
            style="color: #b4b7c9"
          ></i>
          <h3 class="h5 pt-3 pb-1 mb-2">Professional Team</h3>
          <p class="mb-0">
            Our professional support team are one call away to assist you with 
            your applications
          </p>
        </div>
      </div>
    </div>

    <!-- Pagination (bullets) -->
    <div
      class="swiper-pagination position-relative d-xl-none pt-3 mt-4 swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal swiper-pagination-lock"
    >
      <span
        class="swiper-pagination-bullet swiper-pagination-bullet-active"
        tabindex="0"
        role="button"
        aria-label="Go to slide 1"
        aria-current="true"
      ></span>
    </div>
    <span
      class="swiper-notification"
      aria-live="assertive"
      aria-atomic="true"
    ></span>
  </div>
</section>
